<div class="calendar-header">
    <!--
        Calendar Header
    -->
    <!--
       Each header should contain two css class
            1. week
            2. mat-h3
    -->
   <div class="week mat-h3" *ngFor="let header of weekHeader">
     {{header}}
   </div>

</div>

<div class="calendar-body" *ngIf="dateObj.length>0">
    <!--
    Create a calendar grid
    * The gird should contain 6 rows and 7 column
    * Each row should contain "tr-row" css class
    * Each cell should contain "td-month" css class
    * The calendar grid contains previous month date, current month date and next month date
        * If the cell contains current month date then the cell should have "tdEnabled" css class
        * If the cell contains previous month or next month date then the cell should have "tdDisabled" css class
        * If a cell is selected then add "tdSelected" css class to it.
    -->
    <div class="tr-row" *ngFor="let row of dateObj; let i = index">
        <div class="td-month" *ngFor="let column of row" [ngClass]="column.enabled ? 'tdEnabled':'tdDisabled'">
            <div class="mat-h1">{{column.date.split('/')[0]}}</div>
            <div class="mat-h3 holidayBox" *ngIf="this.responseDateObjs.get(column.date)!==undefined">{{responseDateObjs.get(column.date).holidayName}}</div>
        </div>
    </div>
    <!--
        Use "mat-h1" css class for displaying date 
        Use "mat-h3", "holidayBox" css class for displaying holiday name
           
    -->
    <!-- 
        Note: do not use Table tag.
    -->

    <!--Structure-->
  

    <!--End-->



</div>