.appBar {
    width: 100%;
    top: 0;
    position: fixed;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 10;
    text-align: center;
    background-color: #00838F;
    color: #FFF;
    font-size: 1.9em;
}